# Archivos grandes (>100MB) - GitHub limit
# Estos videos deben subirse a otro servicio (YouTube, Vimeo, etc)
01_Web/proce1.mp4

# Opcional: excluir todos los MP4 grandes
# *.mp4

node_modules/
.wrangler/
*.log
*.bat
